@page
@model MyQuranWeb.Pages.AboutModel
@{
    ViewData["Title"] = "Tentang Kami";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<p></p>
<p>Assalamualaikum Warahmatullahi Wabarakatuh.</p>
<p>
    Website ini dibuat bertujuan untuk memberikan kemudahan bagi siapa saja untuk membaca, mempelajari, dan memahami Al-Quran.
</p>
<p>
    Fitur-fitur yang terdapat dalam website ini antara lain:
    <ul>        
        <li>Pencarian ayat, nomor ayat, terjemah dan transliterasi di menu Baca Quran.</li>
        <li>Tulisan latin (Transliterasi).</li>
        <li>Terjemahan Bahasa Indonesia versi kementrian agama.</li>
        <li>Tafsir dari kementrian agama.</li>
        <li>Tafsir Al-Jalalain.</li>
        <li>Rasm / cara penulisan IndoPak dan Usmani.</li>
        <li>Copy / salin ayat Al-Quran.</li>
        <li>Bookmark ayat Al-Quran.</li>
        <li>Dengarkan Murrotal.</li>
        <li>Pencarian ayat-ayat berdasarkan kata kunci di terjemahan atau transliterasi latin.</li>
        <li>Kumpulan Hadis.</li>
        <li>Bookmark hadis.</li>
    </ul>
</p>
<p></p>
<p>Dikembangkan Oleh: Rommy Zamanuddin</p>
<p>Email: rzamanuddin@gmail.com</p>