@page
@model MyQuranWeb.Pages.Hadith.ListHadithModel
@{
    ViewData["Title"] = "Daftar Perawi Hadis";
}

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div id="error" class="alert alert-danger text-danger">
        <span>@Model.ErrorMessage</span>
    </div>
}

<div class="card">
    <div class="card-header text-center">
        <p class="h2">@ViewData["Title"]</p>
    </div>
    <div class="card-body">
        <div class="form-group">
            <table class="table table-sm table-striped table-hover table-borderless">
                @for (int i = 0; i < Model.Narrators.Count; i++)
                {                    
                    <tr>
                        @{
                            var narrator = Model.Narrators[i];
                            <td><a href="~/Hadith/HadithDetail/@narrator.Slug/1" target="_blank" class="text-decoration-none text-dark">@($"{i + 1}. {narrator.DisplaySubTitle}")</a></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

